@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fortawesome/fontawesome-free/css/all.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #333;
  background: #fff;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCQYb9lecyU.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.input-group>.form-control {
  flex: 1 1 auto;
}

.form-control {
  width: 100%;
  padding: 0.375rem 0.75rem;
}

header .textTwo,
header .textThree {
  clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
}

header .textTwo {
  font-family: "Roboto Condensed", sans-serif;
}

nav .logo {
  font-family: "Roboto Condensed", sans-serif;
}

nav .input-group,
nav .input-group input {
  border-radius: 50px;
}

.swiper img {
  width: 100%;
}

.swiper-wrapper,
.swiper-slide {
  height: auto;
}

.swiper-button-prev,
.swiper-button-next {
  color: #6fa400 !important;
}

.swiper-pagination-bullet-active {
  background-color: #a1e611 !important;
}

.service .icon img {
  width: auto !important;
  display: initial !important;
}

.service .col-span-2:hover {
  transform: translate3d(0, -5px, 0);
  transition: all 0.5s;
}

.bestSeller .products {
  padding: 10px 10px 20px;
}

.bestSeller .products:hover {
  transform: translate3d(0, -5px, 0);
  transition: all 0.5s;
}

.bestSeller .grid div:nth-child(4),
.bestSeller .grid div:nth-child(8) {
  border-right-color: white;
}

.bestSeller .products:hover h2 {
  color: #6fa400;
}

.bestSeller .title span:first-child {
  font-family: "Roboto Condensed", sans-serif;
  transform: translate(-50%, -50%);
}

.bestSeller .title span:last-child {
  top: -35px;
}

.store .title span {
  transform: translate(-50%, -50%);
  top: 0;
}

main .products:hover {
  transform: translate3d(0, -5px, 0);
  transition: all 0.5s;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -5px, 0);
}

main .products:hover .price,
.relative__product:hover .price {
  color: red;
  transition: 0.75s;
}

.relative__product:hover h3{
  color: #6fa400;
  transition: 0.75s;
}

.relative__product img{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

main .relative__product{
  padding-bottom: 20px;
}

/* main .relative__product img{
  width: inherit;
} */

main .relative__product .selled img{
  width: 45px;
}

.selled span {
  padding: 5px 20px 5px 40px;
}

.selled span img {
  position: absolute;
  left: -20px;
  top: -20px;
}

.attribute .relative:hover span {
  background-color: #6fa400;
  border: 2px solid #6fa400;
}

.attribute .video {
  margin: -19px 0 0 -29px;
  transition: all .5s;
}

.attribute .image img {
  width: auto;
}

.attribute h4 {
  min-height: 70px;
}

.payment img {
  height: 35px;
}

.breadcrumbs ul li:first-child:before {
  content: none;
}

.breadcrumbs ul li::before {
  margin: 0 5px;
  content: "/";
}

.breadcrumbs ul li a:hover {
  color: #6fa400;
}

main .content h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  color: #333;
  line-height: 2.25rem;
}

main .content h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
  line-height: 1.75rem;
}

main .content h4 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
  line-height: 1.5rem;
}

main .content p {
  margin-bottom: 20px;
  font-size: 15px;
}

main .content img {
  width: 100%;
  border-radius: 5px;
}

main .content figure {
  margin-bottom: 20px;
  text-align: center;
}

main .content figure figcaption {
  margin-top: 10px;
  font-style: italic;
  font-size: 14px;
}

main .content a {
  color: #6fa400;
  font-weight: 700;
}

main .content a:hover {
  opacity: 0.7;
}

.tutorial .image span,
.video .post .image span {
  transform: translate(-50%, -50%);
}

.tutorial .swiper-slide:hover .image span .fa-brands,
.video .post:hover .image span .fa-brands {
  color: #a1e611;
}

.tutorial .swiper-slide:hover .image span,
.post:hover .image span {
  background-color: #333;
}

.knowledge .swiper-slide:hover,
.tutorial .swiper-slide:hover,
.post:hover {
  border-color: #6fa400;
}

.knowledge .swiper-slide:hover span {
  color: white;
}

.post:hover span {
  color: white;
}

.knowledge .swiper-slide:hover h3,
.tutorial .swiper-slide:hover h3,
.post:hover h2,
.post:hover h3 {
  font-weight: 700;
  transition-duration: 300ms;
  color: #6fa400;
}

.postSidebar h2::after {
  border-bottom: 2px solid #000;
  content: '';
  display: block;
  margin: 5px auto 15px 0;
  width: 50px;
}

.contact h2::after {
  border-bottom: 3px solid #e5e7eb;
  content: '';
  display: block;
  margin: 5px auto -2px 0;
  width: 80px;
}

main .index h4::after {
  border-bottom: 2px solid #333;
  content: '';
  display: block;
  margin: auto;
  width: 80px;
}

.product-library div:hover img{
  transform: translate3d(0, -5px, 0);
  transition: all 0.5s;
}

.promotion span{
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.promotion ul{
  list-style: inherit;
  padding-left: 20px;
}
.specifications{
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}
.product-content{
  top: -2px;
}

@media (max-width: 767px) {

  header .textTwo,
  header .textThree {
    clip-path: none;
    font-size: 13px;
  }

  .service h3 span {
    display: block;
  }

  .service .grid {
    padding: 0 10px;
  }

  .bestSeller .title span {
    transform: none !important;
  }

  .selled span img {
    left: -10px;
  }

  .selled span {
    font-size: 16px;
    padding: 5px 5px 5px 40px;
    position: relative;
  }

  .store .title span {
    transform: none;
  }

  .bestSeller .grid div:nth-child(5),
  .bestSeller .grid div:nth-child(6) {
    border-bottom-color: rgb(203 213 225 / var(--tw-border-opacity));
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1100px;
  }
}